<div class="container col-lg-6">
    <h1 class="text-center">Tweet</h1>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form">
          <div class="form-group">
            <label for="email">Username :</label>
            <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter usernmae"
              name="username">
          </div>
          <div class="form-group">
            <label for="pwd">TweetMessage:</label>
            <input type="text" class="form-control" formControlName="tweetmessage" id="tweetmessage" placeholder="Enter message"
              name="tweetmessage">
          </div>
          
          
          
          <button (click)=postmessage() class="btn btn-success">Post Message</button>
          <p class="alert alert-success" *ngIf="b==1">
            <strong>Tweet Added!</strong> 

        </p>
        <p class="alert alert-danger" *ngIf="b==2">
          <strong>Tweet Not Added!</strong> 

      </p>
        </form>
      </div>
    </div>
  </div>


