<div  class="container-fluid">  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
      <ul class="navbar-nav">  
        <li class="nav-item ">  
          <a routerLink="view-login" class="nav-link" class="btn btn-primary active" role="button" >View Login</a>  
        </li>   
        <li class="nav-item">  
          <a  routerLink="add-registration" class="nav-link" class="btn btn-primary active" role="button" >Add Registration</a>  
        </li>    
        <li class="nav-item">  
          <a  routerLink="add-tweet" class="nav-link" class="btn btn-primary active" role="button" >Add Tweet</a>  
        </li>  
        <li class="nav-item">  
          <a  routerLink="view-tweet" class="nav-link" class="btn btn-primary active" role="button" >View Tweet</a>  
        </li>    
        <li class="nav-item">  
          <a  routerLink="update-tweet" class="nav-link" class="btn btn-primary active" role="button" >Update Tweet</a>  
        </li>       
        <li class="nav-item">  
          <a  routerLink="reply-tweet" class="nav-link" class="btn btn-primary active" role="button" >Reply Tweet</a>  
        </li>       
        <li class="nav-item">  
          <a  routerLink="forgot-password" class="nav-link" class="btn btn-primary active" role="button" >Forgot Password</a>  
        </li> 
       
        <li class="nav-item">  
          <a  routerLink="view-logout" class="nav-link" class="btn btn-primary active" role="button" >Logout</a>  
        </li>
      </ul>  
    </nav>     
      <router-outlet></router-outlet>  
  </div>  