
<div class="container col-lg-6">
    <h1 class="text-center">Change Password</h1>
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form">
           
          <div class="form-group">
            <label for="pwd">New Password:</label>
            <input type="text" class="form-control" formControlName="newPassword" id="newPassword" placeholder="Enter password"
              name="password">
          </div>
          <button (click)=forgotpassword() class="btn btn-success">Change</button>
          <p class="alert alert-success" *ngIf="flag==1">
            <strong>Password Changed</strong> 

        </p>
        <p class="alert alert-danger" *ngIf="flag==2">
          <strong>Failed!</strong> 

        </form>
      </div>
    </div>
  </div>
